*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(120deg,#1e3c72,#2a5298);
}

/* login box */

.login-container{
    background:white;
    padding:50px 60px;
    border-radius:10px;
    width:350px;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

.login-container h2{
    text-align:center;
    margin-bottom:30px;
    color:#333;
}

/* input section */

.input-box{
    margin-bottom:20px;
}

.input-box label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
}

.input-box input{
    width:100%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
    font-size:15px;
}

/* login button */

.login-btn{
    width:100%;
    padding:12px;
    border:none;
    background:#3498db;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    background:#2980b9;
}